body{
    background-color:#0061ff;
    color: aliceblue;
}
.col-cl{
    color:black;
}
.vertical-bar {
    
    border-left: 16px dotted azure;
    height: 300px;
    padding-right: 10px;
  }
  
  footer{
      margin-top:30px;
      margin-left: 40px;
  }

  #contri{
     height: 200vh;
  }

  #read{
     height:200vh;
  }

 .table{
     color:#ffffff;
 }